@import url("https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap");

:root {
  /* set variation axis values */
    --mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 0; /* Casual: Linear to Casual */
    --wght: 300; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: 0deg; /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --crsv: "CRSV" 0.5; /* Cursive: always roman (0), auto substitution (.5), or always cursive (1) */
}

* {
  font-weight: var(--wght);
  font-style: oblique var(--slnt);
  font-variation-settings: var(--mono), var(--casl), var(--crsv);
}

body {
  font-family: Recursive, sans-serif;
  width: 70%;
  margin: auto;
  margin-top: 80px;
  background-color:rgb(244, 247, 235);
}


h1,
h2,
h3 {
    --wght: 800;
    --casl: "CASL" 1;
    margin-top: var(--s2);
    margin-bottom: 0;
}

.alert{
    width: 65%;
    margin: auto;
    display: flex;
    gap: 40px;
}

.file-commands{
    margin-top: 30px;

}

.linux{
    margin-top: 40px;
}

.title{
    margin: 45px;
    margin-bottom:5px ;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 50px;
}